$p0: 0.5em;
$p1: 1em;
$lightBorder: 1px solid #e4e4e4;
$plainShadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
$highShadow: 0 4px 5px rgba(0, 0, 0, 0.2);
$lightGray: #f6f6f6;
$primary: #00beff;
$secondary: #1289b2;
$primaryFont: Arial, Helvetica, sans-serif;
$secondaryFont: 'Times New Roman', Times, serif;